@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sigmar&display=swap');

body {
    background-color: white;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #14213d;
    opacity: .8;
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;  
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.button-box {
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;  
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #fca311;
}
.book, .join {
    background-color: #e5e5e5;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #fca311;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.home-title {
    color: #14213d;
    font-family: Sigmar, 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid #14213d;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.home-grid h2 {
    color: #14213d;
    font-family: Sigmar, 'Bradley Hand', sans-serif;
}
h2 {
    margin: 0;
}
#background {
    background-color: #e5e5e5;
    height: 725px;
    margin: 50px 0;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg {
    background-color: #14213d;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: white;
    font-family: Poppins, Helvetica, sans-serif;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #3e3e3e;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding-top: 15px;
}
footer p {
    color: bisque;
    font-size: 1.2em;
} 
footer a {
    color: bisque;
    text-decoration: none;
}
footer a:hover {
    color: #fca311;
}
footer p a:hover {
    text-decoration: underline;
} 

/*rivers page*/

.rivers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#idaho, #arizona, #utah {
    background-color: #e5e5e5;
    max-width: 1600px;
    height: 925px;
    grid-column: 1/6;
}
#utah {
    background-color: #fff;
    height: 770px;
}
#arizona {
    height: 775px;
}
#idaho .idaho-pic, #utah .utah-pic, #arizona .arizona-pic {
    width: 50%;
    z-index: 0;
    margin: 70px;
    float: left;
    box-shadow: 5px 5px 10px #6f7364;
}
#idaho h5, #utah h6, #arizona h3 {
z-index: 1;
color: #14213d;
font-family: Sigmar, 'Bradley Hand', sans-serif;
font-size: 1.7em;
margin-top: 70px;
margin-bottom: 20px;
}
#idaho p, #utah p, #arizona p {
    color: #14213d;
    z-index: 1;
    padding-right: 70px;
    padding-left: 70px;
}
#idaho .book, #utah .book, #arizona .book {
    background-color: #14213d;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    margin-left: 575px;
}
#idaho .book:hover, #utah .book:hover, #arizona .book:hover {
    background-color: #fca311;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}