@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sigmar&display=swap');

body {
    background-color: white;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #14213d;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;  
}
#logo_link {
    padding-top: 5px;
}
main section img {
    box-sizing: border-box;
}
#hero-img {
    width: 100%;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;  
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #fca311;
}
.book, .join {
    background-color: #e5e5e5;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #fca311;
}
.home-title {
    color: #14213d;
    font-family: Sigmar, 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #14213d;
}
.home-grid h2 {
    color: #14213d;
    font-family: Sigmar, 'Bradley Hand', sans-serif;
}
h2 {
    margin: 0;
}
#background {
    background-color: #e5e5e5;
    height: 725px;
    margin: 50px 0;
}
.msg {
    background-color: #14213d;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}
.msg h2 {
    color: white;
    font-family: Poppins, Helvetica, sans-serif;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #3e3e3e;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
footer p {
    color: bisque;
    font-size: 1.2em;
} 
footer a {
    color: bisque;
    text-decoration: none;
}
footer a:hover {
    color: #fca311;
}
footer p a:hover {
    text-decoration: underline;
} 
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
